body {
  background-image: url(https://img.freepik.com/free-vector/gradient-chess-background_23-2151085416.jpg?t=st=1709274570~exp=1709278170~hmac=144791a81f779d8548a3c67d49a82863cf860addfe65be99577bfd40092abaa7&w=996);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

 
}

.chessboard :hover {
  width: 400px;
  height: 400px;
  /* display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 1px solid black; */
  border: 3px solid black;
  /* transform: scale(1.1);
  transition: transform 0.5s ease;
  transform: rotate(360deg); */
 
}
.chessboard div {
  width: 50px;
  height: 50px;
  float: left;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}
h1{
  font-weight: 300;
  position: relative;
}
h1::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: blue;
  transition: all ease 1;
}
h1:hover::after{
  width: 100%;
 
}
.chessboard {
  width: 400px;
  /* height: 200px; */
  /* background-color: #26c706; */
  /* margin: 50px; */
  border-radius: 10px;
  box-shadow:  5px 3px rgba(0, 0, 0, 0.548); 
}
