 body{
 height: 100vh;
}

.main{
  background-image: url(https://img.freepik.com/free-vector/stock-trader-mask-fallen-graphs-background-stock-exchange-market-after-coronavirus-pandemic-world-economic-crisis-vector-illustration_596401-617.jpg?t=st=1709616827~exp=1709620427~hmac=12c28b39ffa5e401a957bf9d697309265287839338857ccd3e49e4f9e24d4751&w=1060);
  height: 100%;
  border: 2px solid #000;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg{
  justify-content: center;
  border: 2px solid rgb(255, 254, 254); 
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  /* margin: auto; */
  font-style:italic;
  font-weight: 200;
  font-display: auto;
  gap: 10px;
  border-radius: 5%;
  justify-content: center;
  margin-right: auto;
  margin:initial;
  /* align-items: center; */
  
  
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  
}


.btn{
  text-align: center;
  margin: auto;
 border-radius:800px;
 color: solid black
}
h1{
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
}
body{
  height: 100vh;
  margin: 0;
  padding: 0;
 
}
.inp{
  
  width: 150px;
  height: 25px;
  margin: 0px 75px;
  font-family:lg;
  font-weight: 200;
  font-display: auto;
  border-radius: 5px;
}
.inp:hover{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

input[type="password"] {-webkit-text-security: disc !important;}

i{
  font-size: 2rem;
}

.inline{
  justify-content: center;
  display: flex;
  gap: 70px;
}
.k{
  font-weight: 500px;
  gap: 5%;
  /* margin-right: 50%; */
 display: flex;
 justify-content: space-between;
 margin-right: 3px;
  /* text-decoration: none; 
  margin: 15px 0 15px;  */
  /* color: white; */
  /* accent-color: white; */
}

a {
  text-decoration: none;
  color: inherit;
}

.k label input{
  color: white;
  text-decoration: none;
}
.doremon{
  height: auto;
  width: auto;
} 
/* #d{
  display: flex;
  margin-right:  100px;
} */
.m{
  width: 200px;
  /* padding: 10px; */
  margin: auto;
  margin-right: 500px;
  /* margin-top: 100px; */
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  height: 300px;
  
}
